.container {
  display: flex;
  align-items: normal;
  font-size: 130%;
}

img {
  width: 550px;
  margin-right: 10px;
}

.organizaçãoconteiner {
  display: flex;
  align-items: normal;
}

.texto {
  display: flex;
  align-items: center;
  font-size: large;
}

.lista {
  align-items: center;
  font-size: large;
}

.links {
  background-color: rgb(122, 121, 121);
  width: 100%;
  padding: 20px;
  display: flex;
  font-size: x large;
  justify-content: space-around;
  flex-direction: row;
}
