.container {
  display: flex;
  align-items: normal;
  font-size: 120%;
}

img {
  width: 550px;
  margin-right: 10px;
}

.organização {
  display: flex;
  align-items: normal;
}

.texto {
  padding-bottom: 10px;
  font-size: xx-large;
}

.links {
  background-color: rgb(122, 121, 121);
  width: 100%;
  padding: 20px;
  display: flex;
  font-size: x large;
  justify-content: space-around;
  flex-direction: row;
}
